body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(253, 224, 178);    
    background-image: url(/images/backgrounds/noisy.png);

}

.menu_bar{
    background-color: rgb(194, 162, 122);
    overflow: hidden;

    border-radius: 20px;
}
.menu_bar a{
    float:left;
    
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    
    padding: 14px 16px;

    transition: 0.2s;
}
.menu_bar a:hover{
    background-color: #8b4513;

    transition: 0.2s;
}
